@import "../../../styles/var.scss";

.container-userDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header-content {
    height: 36.2rem;
    width: 100%;
    border-bottom: 1px solid $line2;
  }
}
